
<section>
    <div class="border-b border-gray-300 p-2 flex justify-between items-center">
        <div class="flex gap-3 ml-4">
            <!-- <img src="/Reddit-Logomark-Color-Logo.wine.svg"/> -->
            <img src="/Reddit-Logo.png" height="100" width="125"/>
            <!-- <link rel="icon" type="image/" href="Reddit-Logomark-Logo.wine.svg"> -->
            <!-- <h1 class="text-orange-600 font-bold text-3xl">Reddit</h1> -->
        </div>
        <div class="flex gap-3 p-2 px-4 border rounded-3xl bg-[#e5ebee] border-none w-[500px] focus:border-blue-500">
            <i class="bi bi-search text-gray-800"></i>
            <input type="text" class="text-gray-800 focus:outline-none" placeholder="Search Reddit"/>
        </div>
        <div>
            <app-logoutbutton/>
        </div>



    </div>


</section>