<section
  id="infinite-container"
  class="h-full overflow-y-scroll padding-macro"
  (scroll)="onScroll($event)"
>
  <div class="flex flex-col w-[80%]">
    <!-- banner for page -->
    <div class="rounded-xl bg-gray-200 h-32"></div>
    <div class="flex justify-between">
      <!-- thread circle image -->
      <!-- <div class="bg-orange-700 circle-div border"></div> -->

      <app-thread-display
        [title]="threadData!.title"
        [type]="'thread-page'"
        [threadImage]="threadData?.threadImage"
      />

      <!-- New post, bell, options... -->
      <div class="flex items-center gap-3 pr-4">
        <!-- + Create Post -->
        @if(generalService.currentUserData) {
        <div
          class="flex justify-center items-center hover:cursor-pointer border border-gray-500 hover:border-gray-700 h-[40px] p-2 gap-1 rounded-full"
          (click)="createPost()"
        >
          <i class="bi bi-plus-lg text-2xl"></i>
          <h1 class="font-semibold">Create Post</h1>
        </div>
        }
        <!-- Notifications -->
        <div
          class="flex justify-center items-center hover:cursor-pointer border border-gray-500 hover:border-gray-700 rounded-full w-[40px] h-[40px]"
        >
          <i class="bi bi-bell text-2xl"></i>
        </div>
        <!-- join / joined thread -->
        @if(generalService.currentUserData) {
        <div
          class="flex justify-center items-center hover:cursor-pointer border border-gray-500 hover:border-gray-700 rounded-full p-2"
          [ngClass]="{ 'bg-blue-600': !isJoined, 'text-white': !isJoined }"
          (click)="joinThread()"
        >
          @if(isJoined){
          <h1 class="font-semibold">Joined</h1>
          } @else{
          <h1 class="font-semibold">Join</h1>
          }
        </div>
        }
        <div
          class="flex justify-center items-center hover:cursor-pointer border border-gray-500 hover:border-gray-700 hover:cursor-pointer rounded-full w-[40px] h-[40px] relative"
          (click)="openEditMenu()"
        >
          <i class="bi bi-three-dots"></i>
          @if(isEditMenuUp){

          <div
            class="flex flex-col border border-gray-200 rounded bg-white absolute top-11 left-0 z-99"
          >
            <!-- info -->
            <div
              class="flex gap-3 items-center justify-between border-b border-gray-200 p-2 hover:cursor-pointer hover:bg-gray-200"
            >
              <h4 class="text-sm text-gray-800">Info</h4>
              <i class="bi bi-info-circle text-base text-gray-800"></i>
            </div>
            @if(this.threadData?.owner ===
            generalService.currentUserData?.username) {
            <!-- edit -->
            <div
              class="flex gap-3 items-center justify-between border-b border-gray-200 p-2 hover:cursor-pointer hover:bg-gray-200"
              (click)="editThread()"
            >
              <h4 class="text-sm text-gray-800">Edit</h4>
              <i class="bi bi-pencil text-base text-gray-800"></i>
            </div>
            <!-- delete -->
            <!-- only show if current user -->

            <div
              class="flex gap-3 items-center justify-between p-2 hover:cursor-pointer hover:bg-gray-200"
              (click)="deleteThread()"
            >
              <h4 class="text-sm text-gray-800 text-red-700">Delete</h4>
              <i class="bi bi-trash3 text-base text-red-700"></i>
            </div>
            }
          </div>

          }
        </div>
      </div>
    </div>

    <!-- third section <posts ---- sidebar> -->
    <div class="flex gap-5 w-full">
      <app-post-container
        class="w-[75%]"
        type="thread"
        [threadId]="itemId"
        [threadAtBottom]="atBottomControl"
        [flipBottom]="flipBottomControl"
      />

      <!-- right side bar -->
      <!-- Thread information  -->
      <app-thread-sideinfo
        class="w-[30%]"
        [threadData]="threadData"
        type="thread"
      />
    </div>
  </div>
</section>
