<!-- home -->
<!-- thread -->

<section class="py-1 border-b border-gray-200">
  <div
    class="flex flex-col hover:bg-gray-100 hover:cursor-pointer px-4 py-1 rounded-xl"
    (click)="postClicked()"
  >
    <div class="flex justify-between mb-1">
      <!-- user display generic pic with username -->
      <div class="flex items-center gap-1 ml-1">
        <div class="circle-div w-[30px] h-[30px] bg-blue-500">
          <!-- display user profile pic thing -->
          @if(postData?.parentThreadImage && type === 'home') {<img
            [src]="postData?.parentThreadImage"
            class="w-full h-full circle-div"
          />
          } @else if(type === 'thread'){ @if(postData?.ownerPicture){
          <img
            [src]="postData?.ownerPicture"
            class="w-full h-full circle-div"
          />
          } @else{
          <app-default-user-image />
          } }
        </div>
        <h4
          class="font-semibold text-sm hover:text-blue-500"
          (click)="threadClicked()"
        >
          r/{{ postData?.parentThreadTitle }}
        </h4>
        <i class="bi bi-dot text-gray-600"></i>
        <h4 class="text-sm text-gray-500">
          <app-timestamp [timeStamp]="postData?.createdAt" [type]="'post'" />
        </h4>
      </div>
      <div>
        <i class="bi bi-three-dots"></i>
      </div>
    </div>

    <!-- title -->
    <div class="mb-2">
      <h4 class="font-semibold text-xl">{{ postData?.title }}</h4>
    </div>

    <!-- text content... -->
    <div class="mb-2">
      <h4 class="text-gray-700 text-base">{{ postData?.textContent }}</h4>
    </div>

    <!-- Tag -->
    @if(tag!.length > 0) {
    <div class="mb-3 w-fit">
      <div
        class="bg-blue-500 rounded-xl flex items-center justify-center w-fit p-1"
      >
        <h4 class="text-sm text-white">{{ postData?.tag }}</h4>
      </div>
    </div>
    }

    <!-- post buttons -->
    <div class="flex gap-3">
      <!-- votes -->
      <app-votes
        [usersVote]="userVote"
        [voteCount]="postData?.voteCount"
        [postId]="postData?._id"
        [refreshVote]="refreshVote"
      />

      <!-- comments -->
      <div
        class="flex gap-2 items-center rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-3"
      >
        <i class="bi bi-chat text-md font-semibold"></i>
        <!-- current votes -->
        <h4 class="font-semibold text-xs">{{ postData?.commentCount }}</h4>
      </div>

      <!-- award icon  -->
      <div
        class="flex rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-5"
      >
        <i class="bi bi-award"></i>
      </div>

      <!-- share icon thing -->
      <div
        class="flex gap-2 items-center rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-3"
      >
        <i class="bi bi-arrow-90deg-right text-md font-semibold"></i>
        <!-- current votes -->
        <h4 class="font-semibold text-xs">Share</h4>
      </div>
    </div>
  </div>
</section>
