<section class="border-b border-gray-200 pb-4 mt-4">
  <div>
    <!-- title panel thing -->
    <div
      (click)="titleClick()"
      class="flex justify-between gap-3 py-2 px-4 hover:bg-[#e5ebee] rounded-xl hover:cursor-pointer"
    >
      <h1 class="text-gray-500">Communities</h1>
      <!-- icon -->
      @if (!this.clickState) {
      <i class="bi bi-chevron-up fs-4"></i>
      } @else {
      <i class="bi bi-chevron-down fs-4"></i>
      }
    </div>
    <!-- display the threads that the user is joined too... -->
    @if (currentJoinedThreads && clickState) {
    <div *ngFor="let thread of currentJoinedThreads; let i = index" class="">
      <div
        class="flex p-2 gap-2 items-center pl-4 hover:cursor-pointer hover:bg-[#e5ebee]"
        (click)="threadLink(thread!._id)"
      >
        <div class="w-[30px] h-[30px]">
          <img [src]="thread?.threadImage" class="h-full w-full circle-div" />
        </div>

        <h4 class="text-sm text-gray-800">r/{{ thread?.title }}</h4>
      </div>
    </div>
    }

    <!--  -->
    <!-- <app-side-panel-block [name]="'Thread 1'" [icon]="'bi bi-house'"/>
        <app-side-panel-block [name]="'Thread 2'" [icon]="'bi bi-arrow-up-right-circle'"/>
        <app-side-panel-block [name]="'Thread 3'" [icon]="'bi bi-people'"/>
        <app-side-panel-block [name]="'Thread 3'" [icon]="'bi bi-graph-up'"/> -->
  </div>
</section>
