<main>


  <!-- @if(!this.loginService.isAuthenticated) {
  <router-outlet />
  } -->

  @if(!generalService.showHeader) {
    <router-outlet />
  }
  @else{
 
    <section>
      <!-- Header... -->
      <app-header/>

      <!-- under header part of page -->
      <section class="flex">
        <!-- sidepanel -->
        <app-side-panel/>

         <!-- main section of page... -->
        <section class="ml-[600px] mt-2 w-[45%]">
          <router-outlet class=""/>

        </section>
        


      </section>
      <!-- footer -->
       <section class="flex justify-end items-center border-t border-gray-200 h-8 gap-1">
          <h4 class="text-sm text-gray-500">CartierRedditClone</h4>
          <h4 class="text-sm text-gray-500">V1.0</h4>
       </section>

      


    </section>
    

  

  

  <section>
    
  </section>
}
</main>

