<main class="h-screen flex flex-col">
  <!-- @if(!this.loginService.isAuthenticated) {
  <router-outlet />
  } -->

  @if(!generalService.showHeader) {
  <router-outlet />
  } @else{

  <!-- Header... -->
  <app-header />
  <!-- under header part of page -->
  <section class="flex grow">
    <!-- sidepanel -->
    <app-side-panel />
    <!-- main section of page... -->
    <!-- for large screen  w-[45%] ml-[600px]-->
    <section class="max-[1600px]:ml-[150px] ml-[250px] mt-2 w-full">
      <router-outlet class="" />
    </section>
  </section>

  }
</main>
