


<section>
    <div class="flex">

        <div>
            <!-- Notifications -->
            <div class="flex justify-center items-center mt-5 hover:cursor-pointer bg-gray-100 hover:bg-gray-200 rounded-full w-[40px] h-[40px]" (click)="goBack()">
                <i class="bi bi-arrow-left text-md font-semibold"></i>
            </div>
            
        </div>
        

        
        <div class="w-[75%] mt-2 pl-2">
            @if(postData && username) {
            <app-thread-display [title]="threadData!.title" [type]="'post-view'" [postObject]="postData" [username]="username"/>
            }

            <!-- title -->
            <div class="mb-2">
                <h2 class="font-bold text-2xl">{{postData?.post?.title}}</h2>
            </div>

            <!-- text content -->
             <div class="my-5">
                <p class="text-gray-600">{{postData?.post?.textContent}}</p>
             </div>

            <!-- post buttons -->
            <div class="flex gap-3 mb-4">
                <div class="flex items-center gap-2 rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2">
                    <i class="bi bi-arrow-up text-md hover:text-yellow-700 font-semibold"></i>
                    <!-- current votes -->
                    <h4 class=" font-semibold text-xs">0</h4>
                    <i class="bi bi-arrow-down text-md hover:text-blue-800 font-semibold"></i>
                </div>

                <div class="flex gap-2 items-center rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-3">
                    <i class="bi bi-chat text-md font-semibold"></i>
                    <!-- current votes -->
                    <h4 class="font-semibold text-xs">11</h4>
                </div>

                <div class="flex rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-5">
                    <i class="bi bi-award"></i>

                </div>

                <div class="flex gap-2 items-center rounded-3xl bg-[#eaedef] hover:bg-gray-300 hover:cursor-pointer p-2 px-3">
                    <i class="bi bi-arrow-90deg-right text-md font-semibold"></i>
                    <!-- current votes -->
                    <h4 class="font-semibold text-xs">Share</h4>
                </div>
            </div>

            <!-- comment input -->
            <div class="w-full border py-2 px-4" [ngClass]="{'rounded-xl': isFocusComment, 'border-gray-700': isFocusComment, 'rounded-full': !isFocusComment, 'border-gray-400': !isFocusComment,}" (focus)="focusComment()">
                
                
                @if(isFocusComment) {
                    <textarea class="w-full h-full p-1 focus:outline-none" placeholder="Comment"></textarea>
                    <div class="flex gap-3 justify-end mt-6">
                        <button class="rounded-full p-2 bg-[#eaedef] text-base text-gray-800 hover:cursor-pointer hover:bg-gray-200" (click)="deFocusComment()">Cancel</button>
                        <button class="bg-blue-600 rounded-full text-white text-base p-2 hover:cursor-pointer hover:bg-blue-700">Comment</button>
                    </div>
                }
                @else {
                    <input class="text-base text-gray-500 w-full h-full" (focus)="focusComment()" placeholder="Add a Comment"/>
                }
            </div>

            <!-- some sorting things -->
            <div class="flex items-center mt-4">
                <div class="flex gap-3">
                    <h4 class="text-sm text-gray-600">Sort by:</h4>
                    <div class="flex gap-1 items-center">
                        <h4 class="text-sm text-gray-600 font-semibold">Best</h4>
                        <i class="bi bi-chevron-down text-sm"></i>
                    </div>
                </div>

                <div class="flex gap-3 ml-5 rounded-full border border-gray-300 py-2 px-4">
                    <i class="bi bi-search text-gray-500"></i>
                    <h4 class="text-gray-500">Search Comments</h4>
                </div>
            </div>

            <!-- comments -->
            <div class="mt-4">

                <h4 class="text-xl">...No comments yet...</h4>

            </div>

        </div>



       



        <!-- right side bar -->
            <!-- Thread information  -->
            <div class="rounded-xl bg-[#f9fafa] w-[25%] ml-6">
                <!-- Bio / thread details -->
                <div class="p-4 border-b border-gray-300">
                    <h4 class="font-semibold mb-1 text-xl">r/{{threadData?.title}}</h4>
                    <h4 class="font-semibold mb-1">{{threadData?.bio}}</h4>
                    <div class="flex items-center gap-2">
                        <i class="bi bi-credit-card-2-front text-gray-600"></i>
                        <h4 class="text-sm text-gray-600">Created {{threadData?.createdAt}}</h4>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class="bi bi-globe text-gray-600"></i>
                        <h4 class="text-sm text-gray-600">Public</h4>
                    </div>
                    <!-- Status - Members, active, top 1% -->
                     <div class="flex justify-between mt-1">
                        <!-- members -->
                        <div>
                            <h4 class="font-semibold">{{threadData?.followersCount}}</h4>
                            <h4 class="text-sm text-gray-600">Members</h4>
                        </div>
                        <!-- active -->
                        <div>
                            <h4 class="font-semibold">33</h4>
                            <div class="flex gap-1 items-center">
                                <div class="circle-div h-[10px] w-[10px] bg-green-500"></div>
                                <h4 class="text-sm text-gray-600">Active</h4>
                            </div>
                        </div>
                        <!-- Top 1 -->
                        <div>
                            <h4 class="font-semibold">Top 1%</h4>
                            <div class="">
                                <h4 class="text-sm text-gray-600">Rank By Size</h4>
                            </div>
                        </div>
                     </div>
                </div>
                <!-- community links -->
                <div class="px-4 py-3">
                    <h4 class="text-gray-500 font-semibold mb-2">Community Bookmarks</h4>
                    <div *ngFor="let item of threadData?.links; let i = index">
                        <a class="flex justify-center rounded-xl bg-[#eaedef] hover:bg-gray-200 hover:underline hover:cursor-pointer my-2 mx-1 font-semibold py-1" [href]="item">
                            <h4>{{item}}</h4>
                        </a>
                    </div>
                </div>
                <!-- moderators -->
                <div class="px-4 py-3">
                    <h4 class="text-gray-500 font-semibold mb-2">Moderators</h4>

                    <!-- <div *ngFor="let item of threadData?.links; let i = index">
                        <a class="flex justify-center rounded-xl bg-[#eaedef] hover:bg-gray-200 hover:underline hover:cursor-pointer my-2 mx-1 font-semibold py-1" [href]="item">
                            <h4>{{item}}</h4>
                        </a>
                    </div> -->


                </div>
            </div>
    </div>
</section>