<section class="flex justify-center">
  <div class="mt-5 w-[50%] p-4 border rounded border-gray-300 shadow-md">
    <h4 class="text-3xl text-center font-bold pb-4 border-b border-gray-200">
      Edit Profile
    </h4>

    <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
      <!-- <div class="mb-4 flex flex-col gap-1">
            <label class="font-bold text-gray-700 mr-4">Username</label>
            <input type="text" name="username" id="username" formControlName="username" required class=" rounded border border-gray-300 p-2" value={{username}}/>
        </div> -->

      <!-- firebase  -->
      <app-firebase-blob
        [formSubmitted]="firebase"
        [previousImage]="imagePreview"
        [firebaseCallBackParent]="firebaseCallbackBound"
      />

      <!-- <div class="mb-4 flex items-center flex gap-5 p-2">
        <div class="flex flex-col w-[40%]">
          <label class="font-bold text-gray-700 mr-4">Picture</label>
          <input
            type="file"
            name="image"
            id="image"
            required
            class="rounded border border-gray-400 p-2"
            (change)="onFileChange($event)"
          />
        </div>
        <div>
          <h3 class="mb-1">Image Preview:</h3>
          <div class="border border-gray-200 rounded w-[100px] h-[100px]">
            @if(imagePreview){
            <img
              [src]="imagePreview"
              alt="Image Preview"
              class="w-full h-full"
            />
            }
          </div>
        </div>
      </div> -->
      <div
        class="flex items-center justify-center mt-4 pt-4 border-t border-gray-300"
      >
        <button
          type="submit"
          class="p-2 rounded hover:cursor-pointer hover:scale-105 text-white text-xl font-bold bg-orange-500 text-center"
        >
          Submit
        </button>
      </div>
    </form>

    <!-- error message section -->
    @if(isEditLimitReached){

    <section class="mt-5">
      <div class="flex-col justify-center w-full">
        <h4 class="text-red-700 text-2xl">
          Error: {{ message }}. No more profile image changes today.
        </h4>
      </div>
    </section>
    }
  </div>
</section>
