<!-- infinite scroll within this main container  -->
<!-- second end is reached, we will request more posts from either general home, or thread posts -->

<!-- <div class="flex flex-col w-[75%]"></div>

<section
 class="h-full w-full overflow-y-scroll"></section> -->

<section
  id="infinite-container"
  [classList]="
    type == 'home' ? 'h-full w-full overflow-y-scroll' : 'w-full h-full'
  "
  (scroll)="onScroll($event)"
>
  <!-- interaction bar -->
  <div class="flex gap-3 pb-2 border-b border-gray-200 w-[75%] relative">
    <div
      class="flex gap-3 main-hover-bg-color items-center rounded-full p-2"
      (click)="toggleSort()"
    >
      <h1 class="text-gray-700 text-sm">{{ feedType }}</h1>
      <i class="bi bi-chevron-down"></i>
    </div>
    <div class="flex gap-3 main-hover-bg-color rounded-full p-2">
      <i class="bi bi-box2"></i>
      <i class="bi bi-chevron-down"></i>
    </div>

    <!-- drop down.... -->
    @if(postSortToggle) {
    <div
      id="comment-menu"
      #myDiv
      class="absolute top-14 rounded-xl z-99 bg-white shadow-xl border border-gray-200 w-[250px]"
    >
      <div
        class="flex items-center gap-3 py-2 px-4 hover:bg-gray-200 hover:cursor-pointer"
        [ngClass]="feedType == 'latest' ? 'bg-gray-200' : ''"
        (click)="changeSort('latest')"
      >
        <h4 class="font-semibold text-sm">Latest</h4>
      </div>
      <div
        class="flex items-center gap-3 py-2 px-4 hover:bg-gray-200 hover:cursor-pointer"
        [ngClass]="feedType == 'oldest' ? 'bg-gray-200' : ''"
        (click)="changeSort('oldest')"
      >
        <h4 class="font-semibold text-sm">Oldest</h4>
      </div>
    </div>
    }
  </div>
  <!-- ------------------------------------------------- -->

  @if(postData && !isLoading) {
  <div
    *ngFor="let item of postData; let i = index"
    [classList]="type == 'home' ? 'w-[75%]' : 'w-full'"
  >
    <app-post-view-outside [postData]="item" [type]="type" />
  </div>
  @if(endOfPosts){
  <div class="w-[75%] my-5 flex items-center justify-center">
    <h4 class="text-lg">No more Posts...</h4>
  </div>
  } @else if(postData.length > 4) {
  <div class="w-[75%] h-16 flex justify-center items-center">
    <div class="">
      <img src="/reddit-icon.png" height="75" width="75" />
    </div>
    <!-- <div
      class="flex w-full h-full justify-center items-center"
      id="isLoading-arrow"
    >
      <i class="bi bi-arrow-clockwise text-5xl text-gray-700"></i>
    </div> -->
  </div>
  } } @else {
  <div
    class="flex w-full h-full justify-center items-center"
    id="isLoading-arrow"
  >
    <i class="bi bi-arrow-clockwise text-5xl text-gray-700"></i>
  </div>
  }
</section>
