<!-- <div [ngClass]=""></div> -->

<div *ngFor="let comment of comments; let i = index">
  <app-comment
    [comment]="comment"
    [commentRefreshForPost]="commentRefresh"
    [replyHandleFunction]="replyHandleFunction"
  />
  <!-- @if(comment.childComments && comment.childComments.length && isCollapsed){
   <app-comment-display
    [comments]="comment.childComments"
    [level]="level + 1"
    [replyHandleFunction]="replyHandleFunction"
    [isCollapsed]="false"
    [children]="true"
    [commentRefresh]="commentRefresh"
  />  
  } -->
</div>

@if(false){
<div *ngFor="let comment of comments; let i = index">
  <!-- <app-comment [comment]="comment" /> -->

  <div
    class="flex flex-col"
    [class]="comment.childComments.length > 0 ? 'border-l border-gray-300' : ''"
  >
    <div class="grid grid-cols-[20px_40px_minmax(0,1fr)] gap-1 rounded py-4">
      <!-- collapse -->
      @if(isCollapsed && comment.childComments.length > 0){
      <!-- collapse everything under this comments -->
      <div
        class="col-start-1 col-span-1 flex items-center justify-center bg-gray-100 text-gray-700 rounded-full hover:cursor-pointer hover:bg-gray-300"
        (click)="collapseComments(comment._id)"
      >
        -
      </div>
      } @else if(!isCollapsed && comment.childComments.length > 0) {
      <!-- expand to see next level of comments  -->
      <div
        class="col-start-1 col-span-1 flex items-center justify-center bg-gray-100 text-gray-700 rounded-full hover:cursor-pointer hover:bg-gray-300"
        (click)="collapseComments(comment._id)"
      >
        +
      </div>
      }

      <!-- thead image -->
      <div
        class="col-start-2 col-span-1 circle-div bg-blue-300 h-[40px] w-[40px]"
      >
        @if(comment.ownerPicture) {<img
          [src]="comment.ownerPicture"
          class="w-full h-full circle-div"
        />} @else {
        <app-default-profile-picture />
        }
      </div>
      <div class="col-start-3 flex items-center ml-1">
        <h4 class="font-bold text-sm">{{ comment.ownerUserName }}</h4>
        <i class="bi bi-dot text-gray-600 text-sm"></i>
        <!-- <h4 class="text-sm text-gray-500">{{ comment.createdAt }}</h4> -->
        @if(comment.createdAt){
        <app-timestamp [timeStamp]="comment.createdAt" />
        }
      </div>

      @if(comment.commentText) {
      <div class="col-start-3 flex flex-col ml-1">
        <div class="">
          <p>{{ comment.commentText }}</p>
        </div>
      </div>
      }

      <!-- up-vote bar, comment on comment, share, award... -->
      <div class="col-start-3 flex flex-col">
        <div class="flex gap-3 mb-4">
          <!-- votes -->
          <!-- ---------------------------- -->
          <app-comment-votes
            [commentId]="comment._id"
            [voteCount]="comment.voteCount"
            [isDeleted]="comment.ownerUserName == '[deleted]' ? true : false"
          />

          <!-- ----------------------------- -->

          <!-- comment -->
          <app-reply
            [commentId]="comment._id"
            [isDeleted]="comment.ownerUserName == '[deleted]' ? true : false"
            [replyCall]="replyToComment"
          />
          <!-- award icon -->
          <app-awards
            [isDeleted]="comment.ownerUserName == '[deleted]' ? true : false"
          />

          <!-- share icon -->
          <app-share
            [isDeleted]="comment.ownerUserName == '[deleted]' ? true : false"
          />

          <!-- ... menu Delete, edit stuff... -->
          <app-menu
            [menuToggle]="menuToggle"
            [commentId]="comment._id"
            [isDeleted]="comment.ownerUserName == '[deleted]' ? true : false"
          />
          <!-- <div
            class="flex gap-2 items-center rounded-3xl px-3 p-1 hover:bg-gray-300 hover:cursor-pointer relative"
            (click)="openCommentMenu(comment._id)"
          >
            <i class="bi bi-three-dots text-md font-semibold"></i>
            @if(menuToggle.commentId == comment._id && menuToggle.state) {
            <div
              id="comment-menu"
              #myDiv
              class="absolute top-14 rounded-xl z-99 bg-white shadow-xl border border-gray-200 w-[250px]"
            >
              <div
                class="flex items-center gap-3 py-2 px-4 hover:bg-gray-200 hover:cursor-pointer"
              >
                <i class="bi bi-pencil"></i>
                <h4 class="font-semibold text-sm">Edit</h4>
              </div>
              <div
                class="flex items-center gap-3 py-2 px-4 hover:bg-gray-200 hover:cursor-pointer"
                (click)="deleteComment()"
              >
                <i class="bi bi-trash3 text-red-500"></i>
                <h4 class="font-semibold text-sm text-red-500">Delete</h4>
              </div>
            </div>
            }
          </div> -->
        </div>
      </div>
    </div>

    <!-- below display -->
    <!-- hide based on isCollapsed  -->
    @if(comment.childComments && comment.childComments.length && isCollapsed){
    <!-- <app-comment-display
      [comments]="comment.childComments"
      [level]="level + 1"
      [replyHandleFunction]="replyHandleFunction"
      [isCollapsed]="false"
      [children]="true"
      [commentRefresh]="commentRefresh"
    /> -->
    }
  </div>
  <!-- end of parent comment, div that will collapse to hide children... -->
</div>
}
