/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.bar-color {
  color: rgb(92, 108, 116);
}

.bar-color-deleted {
  color: rgb(153, 165, 172);
}

.main-hover-bg-color:hover {
  background-color: #e5ebee;
}

.circle-div {
  border-radius: 50%;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.scrollbar-style {
  scrollbar-width: thin; /* Firefox */
  // scrollbar-color: transparent rgb(235, 235, 240);
  scrollbar-color: transparent transparent;
}

.scrollbar-style:hover {
  scrollbar-color: rgb(186, 182, 182) rgb(242, 239, 239);
}

.profile-hover:hover {
  // border: 1px #e5ebee solid;
  // box-shadow: 0 4px 5px #e5ebee;
  // padding: 64px;
}

.padding-macro {
  //  max-[1600px]:pl-[150px] pl-[250px]
  padding-left: 250px;
}

#isLoading-arrow {
  animation-duration: 10s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
    // scale: 100%;
  }

  100% {
    transform: rotate(1485deg);
    // scale: 200%;
  }
}
