/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


.main-hover-bg-color:hover{
   background-color: #e5ebee;
}

.circle-div{
    border-radius: 50%;
}

.profile-hover:hover{
    // border: 1px #e5ebee solid;
    // box-shadow: 0 4px 5px #e5ebee;
    // padding: 64px;
}



#isLoading-arrow{



    animation-duration: 10s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes spin {
    0% {
        transform: rotate(45deg);
        // scale: 100%;
    }
  
    100% {
        transform: rotate(1485deg);
        // scale: 200%;
    }
}