<section class="flex justify-center">
  <div class="mt-5 w-[50%] p-4 border rounded border-gray-300 shadow-md">
    <h1 class="text-3xl font-bold text-center border-b border-gray-200 pb-4">
      New Sub Reddit
    </h1>

    <form [formGroup]="threadForm" (ngSubmit)="threadFormSubmit()">
      <div class="mt-4 mb-4 flex flex-col gap-1">
        <label class="font-bold text-gray-700 mr-4">Sub Reddit Name</label>
        <input
          type="text"
          name="title"
          id="title"
          formControlName="title"
          required
          class="rounded border border-gray-400 p-2"
        />
      </div>

      <!-- firebase app component -->
      <app-firebase-blob
        [formSubmitted]="firebase"
        [firebaseCallBackParent]="firebaseCallbackBound"
      />

      <!-- <div class="mb-4 flex items-center flex gap-5">
        <div class="flex flex-col w-[40%]">
          <label class="font-bold text-gray-700 mr-4">Picture</label>
          <input
            type="file"
            name="image"
            id="image"
            formControlName="image"
            required
            class="rounded border border-gray-400 p-2"
            (change)="onFileChange($event)"
          />
        </div>
        <div>
          <h3 class="mb-1">Image Preview:</h3>
          <div class="border border-gray-200 rounded w-[100px] h-[100px]">
            @if(imagePreview){
            <img
              [src]="imagePreview"
              alt="Image Preview"
              class="w-full h-full"
            />
            }
          </div>
        </div>
      </div> -->

      <div class="my-4 flex flex-col gap-1">
        <label class="font-bold text-gray-700 mr-4">Bio</label>
        <input
          type="text"
          name="bio"
          id="bio"
          formControlName="bio"
          required
          class="rounded border border-gray-400 p-2"
        />
      </div>

      <!-- Tags -->
      <div class="mb-4 flex flex-col gap-1">
        <label class="font-bold text-gray-700 mr-4">Tags</label>
        <input
          type="links"
          name="tags"
          id="tags-input"
          required
          class="rounded border border-gray-400 p-2"
        />
        <div
          class="flex justify-center bg-gray-200 rounded hover:bg-orange-100 hover:cursor-pointer"
          (click)="addDiv('tags-input', 'tags-div')"
        >
          <i class="bi bi-plus text-2xl"></i>
        </div>

        <div
          class="rounded p-2 min-h-4"
          [classList]="tagArray.length === 0 ? '' : 'border border-gray-200'"
          id="tags-div"
        ></div>
      </div>

      <!-- Links -->
      <div class="mb-4 flex flex-col gap-1">
        <label class="font-bold text-gray-700 mr-4">Links</label>
        <input
          type="links"
          name="links"
          id="links-input"
          required
          class="rounded border border-gray-400 p-2"
        />
        <div
          class="flex justify-center bg-gray-200 rounded hover:bg-orange-100 hover:cursor-pointer"
          (click)="addDiv('links-input', 'links-div')"
        >
          <i class="bi bi-plus text-2xl"></i>
        </div>

        <div
          class="rounded p-2 min-h-4"
          [classList]="linkArray.length === 0 ? '' : 'border border-gray-200'"
          id="links-div"
        ></div>
      </div>
      <div
        class="flex items-center justify-center mb-4 pt-4 border-t border-gray-300"
      >
        <button
          type="submit"
          class="p-2 rounded hover:cursor-pointer hover:scale-105 text-white text-xl font-bold bg-orange-500 text-center"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
